@font-face {
  font-family: 'Stem-Regular';
  src: url("../fonts/Stem-Regular.eot");
  src: url("../fonts/Stem-Regular.eot") format("embedded-opentype"), url("../fonts/Stem-Regular.woff") format("woff"), url("../fonts/Stem-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stem-Bold';
  src: url("../fonts/Stem-Bold.eot");
  src: url("../fonts/Stem-Bold.eot") format("embedded-opentype"), url("../fonts/Stem-Bold.woff") format("woff"), url("../fonts/Stem-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stem-Medium';
  src: url("../fonts/Stem-Medium.eot");
  src: url("../fonts/Stem-Medium.eot") format("embedded-opentype"), url("../fonts/Stem-Medium.woff") format("woff"), url("../fonts/Stem-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Stem-Regular', sans-serif;
  color: #121212;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: auto;
  height: 100%;
}

.button {
  width: 277px;
  height: 40px;
  background-color: #e55a22;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
}

.header {
  display: block;
  min-height: 110px;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
}

.header__logo {
  font-size: 50px;
  color: #e55a22;
  margin-bottom: 20px;
  font-family: 'Stem-Bold', sans-serif;
}

.header__logo_blue {
  color: #291057;
}

.header__search {
  position: relative;
}

.header__phone {
  display: block;
  text-decoration: none;
  font-size: 30px;
  color: #121212;
  font-family: 'Stem-Medium', sans-serif;
}

.header__button {
  margin-top: 5px;
}

.search {
  width: 420px;
  height: 30px;
  color: #797879;
  font-size: 16px;
  letter-spacing: 0.42px;
  padding: 5px 44px 0 10px;
}

.search__image {
  display: block;
  width: 44px;
  height: 39px;
  position: absolute;
  top: 0;
  right: 0;
  background: url("../img/search.png") no-repeat center center #291057;
  cursor: pointer;
}

.navbar__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #291057;
}

.navbar__link {
  text-decoration: none;
}

.navbar__item {
  position: relative;
  margin: 0 20px;
}

.navbar__item_active:before {
  content: "";
  position: absolute;
  width: 70%;
  margin-left: 15%;
  height: 5px;
  background-color: #291057;
  bottom: -13px;
}

.slider__image {
  width: 100%;
}

.swiper-button-prev {
  color: #fff;
  background-image: url("/img/slider/arrow-right.png");
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-size: 27px 73px;
}

.swiper-button-next {
  background-image: url("/img/slider/arrow-right.png");
  background-size: 27px 73px;
}

.swiper-pagination-bullet {
  width: 27px;
  height: 7px;
  background-color: #797879;
  border-radius: 0px;
  opacity: 1;
  outline: none;
}

.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 14px;
}

.banners {
  height: 100%;
  padding-top: 36px;
}

.banners__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.banners__link {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.banners__text {
  max-width: 300px;
  text-align: center;
  padding: 20px;
}

.banners__title {
  margin: 0;
  font-size: 30px;
  margin-bottom: 30px;
  font-family: 'Stem-Bold', sans-serif;
}

.banners__description {
  margin: 0;
  font-size: 19px;
}

.banners__search {
  width: 550px;
  height: 200px;
  background: url(../img/banners/banners-search.png) no-repeat center center;
}

.banners__offer {
  width: 550px;
  height: 200px;
  background: url(../img/banners/banners-offer.png) no-repeat center center;
}

.swiper-slide {
  text-align: center;
}

.swiper-container {
  width: 100%;
  overflow: hidden;
}

.swiper-container-brands {
  margin-top: 50px;
  margin-bottom: 70px;
  position: relative;
  overflow: hidden;
}

.swiper-container-brands .swiper-button-next {
  background-image: url(/img/brands/arrow-black-right.png);
  right: 0;
  background-color: #fff;
  height: 50px;
  top: 40%;
}

.swiper-container-brands .swiper-button-prev {
  background-image: url(/img/brands/arrow-black-right.png);
  left: 0;
  background-color: #fff;
  height: 50px;
  top: 40%;
}

.benefits-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.benefits__items {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits__description {
  display: block;
  width: 100%;
  margin-right: 20px;
  padding: 20px;
  font-size: 20px;
  border-bottom: 1px solid black;
  position: relative;
}

.benefits__description:before {
  content: "";
  position: absolute;
  width: 45px;
  height: 5px;
  background-color: #797879;
  bottom: -3px;
}

.benefits__description-1:before {
  left: 50px;
}

.benefits__description-2:before {
  left: 150px;
}

.benefits__description-3:before {
  left: 250px;
}

.benefits__welcome {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  background: url("../img/benefits/benefits-bg.png") no-repeat;
  background-size: cover;
  height: 440px;
  position: relative;
}

.benefits__text {
  max-width: 320px;
  background-color: #fff;
  padding: 10px;
  font-size: 16px;
  line-height: 26px;
  margin-left: 50px;
}

.benefits__text:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 30px;
  background-color: #291057;
  top: 0;
  left: 0;
}

.news {
  margin-top: 60px;
}

.news-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news__company {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.news__kamaz {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.news__title {
  max-width: 360px;
  position: relative;
  font-size: 30px;
  color: #121212;
  padding-bottom: 15px;
  border-bottom: 1px solid #797879;
  font-family: 'Stem-Bold', sans-serif;
}

.news__title:before {
  content: "";
  position: absolute;
  width: 45px;
  height: 5px;
  background-color: #797879;
  bottom: -3px;
}

.news__arrow {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.company__item:not(:last-child) {
  margin-bottom: 50px;
}

.company__text {
  max-width: 350px;
  line-height: 30px;
  font-size: 20px;
}

.company__date {
  font-size: 18px;
  color: #797879;
}

.kamaz__item {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.kamaz__image {
  margin-right: 30px;
}

.kamaz__text {
  max-width: 370px;
}

.kamaz__title {
  display: block;
  font-size: 20px;
  color: #291057;
  line-height: 30px;
  margin-bottom: 20px;
  max-width: 370px;
  font-family: 'Stem-Medium', sans-serif;
}

.kamaz__text {
  display: block;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 30px;
}

.kamaz__date {
  font-size: 18px;
  color: #797879;
}

.questions {
  margin-top: 65px;
}

.questions-wrap {
  width: 100%;
  height: 553px;
  background: url("../img/questions/questions-bg.png");
  position: relative;
}

.questions__form {
  height: 523px;
  width: 457px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 15px;
  margin-left: 100px;
  background-color: rgba(41, 16, 87, 0.7);
}

.form__title {
  text-align: center;
  font-size: 30px;
  color: #fff;
}

.form__name {
  height: 53px;
  width: 80%;
  background: none;
  border: 1px solid #fff;
  font-size: 18px;
  color: #fff;
  padding-left: 20px;
}

.form__name::-webkit-input-placeholder {
  color: #fff;
}

.form__name:-ms-input-placeholder {
  color: #fff;
}

.form__name::-ms-input-placeholder {
  color: #fff;
}

.form__name::placeholder {
  color: #fff;
}

.form__phone {
  height: 53px;
  width: 80%;
  background: none;
  border: 1px solid #fff;
  font-size: 18px;
  color: #fff;
  padding-left: 20px;
}

.form__phone::-webkit-input-placeholder {
  color: #fff;
}

.form__phone:-ms-input-placeholder {
  color: #fff;
}

.form__phone::-ms-input-placeholder {
  color: #fff;
}

.form__phone::placeholder {
  color: #fff;
}

.form__text {
  width: 76%;
  background: none;
  border: 1px solid #fff;
  font-size: 18px;
  color: #fff;
  padding: 20px;
}

.form__text::-webkit-input-placeholder {
  color: #fff;
}

.form__text:-ms-input-placeholder {
  color: #fff;
}

.form__text::-ms-input-placeholder {
  color: #fff;
}

.form__text::placeholder {
  color: #fff;
}

.form__button {
  text-transform: uppercase;
  width: 263px;
  height: 60px;
}

.footer {
  margin-top: 70px;
  background-color: #797879;
  padding: 30px 0;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__contacts {
  text-align: right;
}

.footer__ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
}

.footer__li {
  margin: 3px 0;
  color: #fff;
}

.footer__a {
  text-decoration: none;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */