.price
  &-main
    &__wrapper
      position: relative
      margin-bottom: 40px
      img
        max-width: 100%
        object-fit: cover
    &__info
      position: absolute
      width: 454px
      height: 235px
      margin-top: 76px
      top: 0
      &::before
        content: ''
        position: absolute
        width: 96%
        height: 92%
        left: 2%
        top: 4%
        border: 1px solid #c9c8ff;
        z-index: 10;
      &--left
        margin-left: 46px
        left: 0
      &--right
        margin-right: 46px
        right: 0
    &__part1
      display: flex
      justify-content: center
      align-items: center
      height: 50%
      background: url("../img/price/price-bg.png") no-repeat top
      background-size: cover
    &__part2
      display: flex
      justify-content: center
      align-items: center
      height: 50%
      background: #fff
      position: relative
      &::before
        content: ""
        position: absolute
        width: 87px
        height: 79px
        background: url("../img/price/download-link.png")
        left: 36px
        top: 9px
    &__title
      color: #ffffff;
      font-size: 30px;
      font-weight: 700;
      line-height: 45px;
      letter-spacing: 1.2px;
    &__subtitle
      width: 160px;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.42px;
      text-align: center
      color: $black
  &__questions
    margin-top: 0

@media (max-width: 1200px)
  .price
    &-main
      &__info
        width: 424px
        height: 215px
        margin-top: 36px
@media (max-width: 900px)
  .price
    &-main
      &__info
        width: 320px
        height: 170px
        margin-top: 36px
      &__title
        font-size: 25px
      &__subtitle
        width: 200px;
        padding-left: 50px
      &__part2
        &::before
          width: 60px
          height: 55px
          background-size: cover
@media (max-width: 768px)
  .price
    &-main
      &__info
        width: 250px
        height: 150px
        margin-left: 25px
        margin-top: 15px
        margin-right: 25px
      &__title
        font-size: 20px
      &__subtitle
        width: 200px;
        padding-left: 60px
        font-size: 14px
      &__part2
        &::before
          left: 15px

@media (max-width: 620px)
  .price
    &-main
      &__wrapper
        img
          height: 200px

@media (max-width: 425px)
  .price
    &-main
      &__info
        width: 230px
      &__title
      &__subtitle
        width: 200px;
        padding-left: 50px
        font-size: 14px
      &__part2
        &::before
          top: 20px
          width: 41px
          height: 37px
