.banners
    height: 100%
    padding-top: 36px
    &__wrap
        display: flex
        justify-content: space-between
    &__link
        text-decoration: none
        color: #fff
        cursor: pointer
    &__text
        max-width: 300px
        text-align: center
        padding: 20px
    &__title
        margin: 0
        font-size: 30px
        margin-bottom: 30px
        +bold
    &__description
        margin: 0
        font-size: 19px
    &__search
        width: 550px
        height: 200px
        background: url(../img/banners/banners-search.png) no-repeat center center
    &__offer
        width: 550px
        height: 200px
        background: url(../img/banners/banners-offer.png) no-repeat center center