.offer
  &-main
    &__list
      display: flex
      justify-content: space-around
      flex-direction: column
      align-items: center
    &__item
      display: flex
      align-items: center
      height: 253px
      margin-bottom: 37px
    &__text
      width: 500px
      height: 100%
      display: flex
      flex-direction: column
      justify-content: space-between
      padding: 23px 170px 45px 49px
      box-sizing: border-box
    &__title
      font-size: 20px
      font-weight: 500
      line-height: 30px
      color: #fff
      letter-spacing: 0.6px
    &__price
      color: #ffffff
      font-size: 30px
      font-weight: 700
      line-height: 45px
      letter-spacing: 1.2px
      &--rouble
        +rouble
    &__img
      width: 310px
      margin-left: -40px
    &__bg--orange
      background: url("../img/offer/offer-bg-orange.png") no-repeat
      background-size: cover
    &__bg--blue
      background: url("../img/offer/offer-bg-blue.png") no-repeat
      background-size: cover

@media (max-width: 900px)
  .offer
    &-main
      &__item
        height: 200px
        margin-bottom: 30px
      &__text
        width: 400px
        padding: 30px 60px 30px 30px
      &__title
        font-size: 18px
      &__img
        text-align: center
        width: 250px
        img
          height: 200px
          max-width: 100%

@media (max-width: 768px)
  .offer
    &-main
      &__item
        height: 150px
        margin-bottom: 25px
      &__text
        width: 300px
        padding: 15px 60px 15px 15px
      &__title
        font-size: 16px
        margin-bottom: 0
      &__img
        text-align: center
        width: 200px
        img
          height: 150px
      &__price
        font-size: 25px
        line-height: 32px

@media (max-width: 620px)
  .offer
    &-main
      &__item
        height: 125px
        margin-bottom: 20px
      &__text
        width: 250px
        padding: 15px 40px 15px 15px
      &__title
        font-size: 14px
        line-height: 18px
        margin-bottom: 0
      &__img
        margin-left: -40px
        text-align: right
        width: 150px
        img
          height: 120px
      &__price
        font-size: 20px
        line-height: 25px

@media (max-width: 425px)
  .offer
    &-main
      &__item
        height: 100px
      &__text
        width: 200px
        padding: 8px 30px 8px 8px
      &__title
        font-size: 12px
        line-height: 16px
        margin-bottom: 0
      &__img
        margin-left: -20px
        text-align: right
        width: 100px
        img
          height: 80px
      &__price
        font-size: 18px
        line-height: 25px
